
/*header
{
    height: 400px;
    width: 2000px;
}*/



@media only screen and (max-width: 799px)
{


/* Header */
header 
{
    background-color: rgba(0, 55, 61, 0.5);
    height: auto;
    width: 100%;
    position: relative;
    box-shadow: black 0px 2px 15px;
}

header > h1
{
    display: inline-block;
    position: relative;
    color: white;
    width: 60%;
    font-size: 5em;
    padding-top: 50px;
    padding-left: 10px;
    z-index: 5;
    text-shadow: black 0px 5px 5px;
}

/*header > div
{
    display: inline-block;
    position: relative;
    width: 35%;
    font-size: 5em;
    z-index: 5;
    
}

header > div > img
{
    width: 100px;
    position: relative;
}*/
div#contactIcon
{
    width: 35%;

}

div#contactIcon > div#contactIconInner
{
    margin: auto;

}

div#contactIcon > div#contactIconInner > div#mailBox
{
    width: 70px;
    height: 90px;
    background-color: rgb(107, 122, 128);
    position: absolute;
    display: block;
    left: 100px;
}

div#contactIcon > div#contactIconInner > div#mailCap
{
    width: 12px;
    height: 20px;
    background-color: skyblue;
    position: absolute;
    display: block;
}

div#contactIcon > div#contactIconInner > div#mailPaper
{
    width: 12px;
    height: 20px;
    background-color: skyblue;
    position: absolute;
    display: block;
}

div#contactIcon > div#contactIconInner > div#air1
{
    background-color: rgb(135, 162, 235);
    position: absolute;
    display: block;
}

div#contactIcon > div#contactIconInner > div#air2
{
    background-color: rgb(135, 162, 235);
    position: absolute;
    display: block;
}

div#contactIcon > div#contactIconInner > div#air3
{
    background-color: rgb(135, 162, 235);
    position: absolute;
    display: block;
}

header > h2
{
    display: block;
    position: relative;
    color: rgb(135, 177, 180);
    width: 55%;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 5;
    text-shadow: black 0px 5px 5px;
    left: 40%;
}





/* content area */

article
{
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 200px;
    font-size: 300%;
    box-shadow: black 0px 10px 17px, black 0px -10px 17px;
    background-color: black;
}

article > h3
{
    display: block;
    position: relative;
    width: 90%;
    text-align: center;
    font-size: 3em;
    color: rgb(195, 251, 255);
    z-index: 5;
    text-shadow: rgb(255, 255, 255) 0px 5px 10px;
    margin-top: 10px;
}

/* Style inputs with type="text", select elements and textareas */
article > .container > form > input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(4, 0, 255); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: rgb(4, 0, 56);
  }
  
  /* Style the submit button with a specific background color etc */
  article > .container > form > input[type=submit] {
    background-color: rgb(0, 38, 85);
    color: rgb(0, 217, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
    transition: 0.5s;
    z-index: 3;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  article > .container > form > input[type=submit]:hover {
    background-color: #001aff;
    transform: scale(1.25);
    transition: 0.33s;
    color: white;

  }
  
  /* Add a background color and some padding around the form */
  article > .container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    padding-bottom: 50px;
  }

  label
  {
      color: white;
  }







}



{

}

@media only screen and (min-width: 800px) and (max-width: 1199px)
{
/* Grid Layouts */
#outer-grid 
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 0.7fr 0.3fr;
    overflow-wrap: break-word;
}

/*#inner-grid 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
#inner-grid > div 
{
    background: lightgreen;
    padding: 8px;
}*/
header
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
nav
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#content
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

}
footer
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}


html
{
    font-family: 'Sung';
}
body
{
    background-color: rgb(0, 0, 51);
    font-family: 'Sung';
}

/*header
{
    height: 400px;
    width: 2000px;
}*/

/* HUGE NAVIGATION AREA */

}



